.myDiv {position: absolute;
    width: 167.02px;
    height: 29.48px;
    left: 125px;
    top: 34px;
}

.top_homepage {position: absolute;
    width: 234px;
    height: 15px;
    left: 1041px;
    top: 37px;
} 